.avatar-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  
  ion-img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Membuat foto jadi bulat */
    border: 4px solid #3880ff;
    overflow: hidden;
  }
}

.placeholder {
  margin-top: 50px;
  color: #666;
  font-style: italic;
}